/* line 17, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
p {
  margin: 0 0 10px;
}

/* line 11, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

/* line 21, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
small {
  font-size: 85%;
}

/* line 24, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
strong {
  font-weight: bold;
}

/* line 27, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
em {
  font-style: italic;
}

/* line 30, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
cite {
  font-style: normal;
}

/* line 34, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.muted {
  color: #999999;
}

/* line 37, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
a.muted:hover,
a.muted:focus {
  color: gray;
}

/* line 41, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.text-warning {
  color: #c09853;
}

/* line 44, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

/* line 48, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.text-error {
  color: #b94a48;
}

/* line 51, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

/* line 55, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.text-info {
  color: #3a87ad;
}

/* line 58, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

/* line 62, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.text-success {
  color: #468847;
}

/* line 65, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

/* line 69, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.text-left {
  text-align: left;
}

/* line 72, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.text-right {
  text-align: right;
}

/* line 75, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.text-center {
  text-align: center;
}

/* line 81, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 89, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 94, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h1,
h2,
h3 {
  line-height: 40px;
}

/* line 99, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h1 {
  font-size: 38.5px;
}

/* line 103, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h2 {
  font-size: 31.5px;
}

/* line 107, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h3 {
  font-size: 24.5px;
}

/* line 111, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h4 {
  font-size: 17.5px;
}

/* line 115, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h5 {
  font-size: 14px;
}

/* line 118, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h6 {
  font-size: 11.9px;
}

/* line 123, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h1 small {
  font-size: 24.5px;
}

/* line 127, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h2 small {
  font-size: 17.5px;
}

/* line 131, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h3 small {
  font-size: 14px;
}

/* line 134, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
h4 small {
  font-size: 14px;
}

/* line 140, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

/* line 149, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

/* line 153, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 159, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
li {
  line-height: 20px;
}

/* line 164, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 171, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
/* line 175, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 182, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
dl {
  margin-bottom: 20px;
}

/* line 185, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
dt,
dd {
  line-height: 20px;
}

/* line 189, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
dt {
  font-weight: bold;
}

/* line 192, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
dd {
  margin-left: 10px;
}

/* line 196, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.dl-horizontal {
  *zoom: 1;
}
/* line 13, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_mixins.sass */
.dl-horizontal:before, .dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 20, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_mixins.sass */
.dl-horizontal:after {
  clear: both;
}
/* line 199, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 205, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
.dl-horizontal dd {
  margin-left: 180px;
}

/* line 212, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

/* line 220, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 225, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 230, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
/* line 234, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
/* line 239, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
/* line 243, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote small:before {
  content: "\2014 \00A0";
}
/* line 246, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
/* line 252, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
/* line 256, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote.pull-right small:before {
  content: "";
}
/* line 258, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
blockquote.pull-right small:after {
  content: "\00A0 \2014";
}

/* line 263, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/* line 270, ../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap/_type.sass */
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

/* line 10, ../scss/style.scss */
.css-head-img {
  background: url(../img/SaltLakeSkylineBlurrr.png) no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

/* line 17, ../scss/style.scss */
.css-head-logo {
  width: 100%;
  margin-top: 10em;
}

/* line 22, ../scss/style.scss */
.css-logo-container {
  width: 40%;
  margin: 0 auto;
}

/* line 27, ../scss/style.scss */
.css-module {
  min-width: 300px;
  width: 60%;
  background: rgba(200, 200, 200, 0.3);
  margin: 4em auto;
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
