.css-socialw {
  @include well-like;
  max-width: 202px;
  margin: 20px auto;
  overflow: auto;
  height: 100%;
  padding: 15px;
}

.css-dribble {
  border: 1px solid #292929;
  width: 37px;
  height: 62px;
  margin-left: 1px;
  float: left;
  overflow: hidden;
}

.css-www,.css-github,.css-twitter,.css-linkedin {
  border: 1px solid #292929;
  width: 37px;
  height: 62px;
  float: left;
  margin-left: 10px;
  overflow: hidden;
}


/*    ANIMATIONS   */

.css-animate  {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css-animate.queue  {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.css-animate.queue2s  {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.css-animate.queue3s  {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

.css-animate.queue4s  {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}

/* Fade In Down */
@-webkit-keyframes css-fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes css-fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes css-fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-100px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes css-fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.css-fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/* Fade In Down */


/* Social 1 Animation */

.css-dribble {position:relative;}
.css-dribble img{
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: margin-top;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
}
.css-dribble:hover img{
  margin-top:-62px;
}
.css-dribble .css-details{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

/* Social 2 Animation */


.css-www {position:relative;}
.css-www img{
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: margin-top;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
}
.css-www:hover img{
  margin-top:-62px;
}
.css-www .css-details{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

/* Social 3 Animation */


.css-github {position:relative;}
.css-github img{
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: margin-top;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
}
.css-github:hover img{
  margin-top:-62px;
}
.css-github .css-details{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

/* Social 4 Animation */


.css-twitter {position:relative;}
.css-twitter img{
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: margin-top;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
}
.css-twitter:hover img{
  margin-top:-62px;
}
.css-twitter .css-details{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

/* Social 5 Animation */


.css-linkedin {position:relative;}
.css-linkedin img{
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: margin-top;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
}
.css-linkedin:hover img{
  margin-top:-62px;
}
.css-linkedin .css-details{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}
