@import "compass/css3";

// Sass Bootstrap
@import "compass_twitter_bootstrap/variables";
@import "compass_twitter_bootstrap/mixins";
@import "compass_twitter_bootstrap/reset";
@import "compass_twitter_bootstrap/scaffolding";
@import "compass_twitter_bootstrap/type";
@import "compass_twitter_bootstrap/font-awesome";

// Modules
@import "mixins";
@import "social_buttons";

// Vars
$headerHeight: 500px;

.css-head-img {
  background: url(../img/SaltLakeSkylineBlurrr.png) no-repeat;
  background-size: cover;
  height: $headerHeight;
  width:100%;
}

.css-head-logo {
  width:100%;
  margin-top:10em;
  vertical-align: middle;
}

.css-logo-container {
  line-height: $headerHeight / 2;
  width: 40%;
  margin: 0 auto;
}

.css-main-body {
  min-width:300px;
  width: 60%;
  margin: 4em auto;
}

.css-module {
  width: 100%;
  padding: 20px;
  @include well-like;
}

.css-null {
  font-family: monospace;
  font-weight: normal;
  color: maroon;
}

.css-node-img {
  height: 2ex;
  margin-bottom: 1ex;
}

.css-desc {
  text-indent: 2em;
}

.css-teacher-profiles {
  margin: 0 auto;
}

.css-teacher-profile {
  display: inline-block;
  width: 49%;
  margin-top: 0ex;
  vertical-align: top;
}

.css-profile-container {
  text-align: center;
}

.css-profile-pic {
  width: 175px;
  @include border-radius(50em);
}

.css-teacher-profile-inner {
  margin: 0 auto;
  width: 75%;
}

.css-instruct-head {
  margin-top: 2ex;
  text-align: center;
}

.css-instruct-name {
  text-align: center;
  margin: 0ex;
}