@import "compass/css3";

// Sass Bootstrap
@import "compass_twitter_bootstrap/variables";
@import "compass_twitter_bootstrap/mixins";
@import "compass_twitter_bootstrap/reset";
@import "compass_twitter_bootstrap/scaffolding";
@import "compass_twitter_bootstrap/type";
@import "compass_twitter_bootstrap/font-awesome";

// Modules
@import "mixins";
@import "social_buttons";

// Vars
$headerHeight: 500px;

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-width: 720px;
  padding: 0 0 100px 0;
}

.css-head-img {
  background: url(../img/slc-blur.jpg) no-repeat;
  background-size: cover;
  height: $headerHeight;
  width:100%;
}

.css-head-logo {
  width:100%;
  margin-top:11em;
  vertical-align: middle;
}

.css-logo-container {
  line-height: $headerHeight / 2;
  width: 460px;
  margin: 0 auto;
}

.css-main-body {
  width: 680px;
  margin: 4em auto;
}

.css-module {
  padding: 20px 20px;
  background: #f8f8f8;
  border-radius: 4px;
  border: solid 1px #eee;
  border-radius: 4px;
  text-indent: 0px;
}

.css-module h2 {
  text-align: center;
}

.css-null {
  font-family: monospace;
  font-weight: normal;
  color: maroon;
}

.css-node-img {
  height: 2ex;
  margin-bottom: 1ex;
}

.css-desc {
  text-indent: 2em;
  line-height: 24px;
  font-weight: 300;
  text-align: justify;
  text-indent: 1.5em;
}

.css-teacher-profiles {
  margin: 0 auto;
}

.css-teacher-profile {
  display: inline-block;
  width: 49%;
  margin-top: 0ex;
  vertical-align: top;
}

.css-profile-container {
  text-align: center;
}

.css-profile-pic {
  width: 175px;
  @include border-radius(50em);
}

.css-teacher-profile-inner {
  margin: 0 auto;
  width: 280px;
}

.teacher-bio {
 line-height: 24px;
 text-align: justify;
 text-indent: 1.5em;
}

.teacher-bio span {
  position: relative;
  font-size: 30px;
  line-height: 10px;
  margin: 6px 0 -10px 0;
  width: 0px;
  height: 0px;
}

.css-instruct-head {
  margin-top: 2ex;
  text-align: center;
  margin: 60px;
  font-size: 2em;
}

.css-instruct-name {
  text-align: center;
  margin: 20px;
}

.needle-logo {
  text-align: center;
  margin: 0 0 4px 0;
}

.needle-logo img {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 2px #666;
}